.container {
  max-width: 80rem;
  margin: 2rem auto;
}

.movie-button {
  position: relative;
  z-index: 1;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  background: rgba(13, 34, 188, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.movie-button:hover {
  background: rgba(13, 33, 188, 0.589);
}
